body, html {
    width: 100%;
    height: 100%;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282A3A;
}

header, footer {
    font-size: 36px;
    padding: 22px;
}

footer {
    font-size: 24px;
    padding-bottom: 12px;
}

main {
    background-color: #202020;
    width: 50%;
    height: 70%;
    max-width: 600px;
    min-width: 350px;
    min-height: 400px;
    padding: 4px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

div.screen {
    flex: 2;
    font-size: 36px;
    justify-content: right;
    align-items: center;
    padding: 16px;
}

div {
    flex: 1;
    display: flex;
}

button {
    margin: 2px;
    border: none;
    font-size: 28px;
    border-radius: 7px;
    flex: 1;
}

button.number {
    background-color: #3b3b3b;
}

button.number:hover {
    background-color: #323232;
}

button.func {
    background-color: #323232;
}

button.func:hover {
    background-color: #3b3b3b;
}

button.equal {
    background-color: #76b9ed;
    color: #2c4558;
}

button.equal:hover {
    background-color: #6da9d8;
}
